.header{
  width: 100vw;
  height: 150px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
}
.header .header__container{
  width: 100%;
  max-width: var(--full-width);
  min-width: var(--max-width);
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-left: 56px;
}
.header .header__container img{
  width: 280px;
  height: 60px;
}
.header .header__container p{
  font-size: 40px;
  color: #333333;
  margin-left: 25px;
}
/* 메인 공통 */
.main{
  width: 100vw;
}
.main .main__section .main__container{
  width: var(--max-width);
  margin: 0 auto;
}
.main .main__section{width: 100%; position:relative;}
.main .main__section .main__title{font-size: 36px; font-weight: bold; padding-top: 61px; padding-bottom: 26px; text-align: center;}
.main .main__section .main__textbox.box__green{width: 100%; background-color: #00594C;}
.main .main__section .main__textbox.box__gray{background-color: #DCDCD4;}
.main .main__section .main__dot{text-align: center; height: 9px; line-height: 9px; padding-bottom: 39px;}
.main .main__section .main__dot img{width: 8px; height: 9px;}

.main .main__section.s01{min-width: var(--max-width); height: 534px; background-image: url(../img/main-bg@2x.png); background-size: cover; background-position: center; background-repeat: no-repeat;}
.main .main__section.s01 .s01__title{font-size: 70px; font-weight: bold; padding-top: 66px;}
.main .main__section.s01 .s01__title span{font-size: 70px; font-weight: bold; color: #00594C;}
.main .main__section.s01 .s01__btn{display: flex; position: relative; }
.main .main__section.s01 .s01__btn p{height: 51px; line-height: 51px; padding: 0px 47px; font-size: 22px; font-weight: bold; text-align: center; cursor: pointer; border: 1px solid #065348; color: #065348; border-radius: 10px;}
.main .main__section.s01 .s01__btn p + p{margin-left: 7px;}
.main .main__section.s01 .s01__btn img{width: 40px; position: absolute; bottom: -37px; left: 160px;}

.main .main__section.s02 .main__subject,
.main .main__section.s02 .main__subject span{ font-size: 36px; font-weight: bold; font-size: 36px; text-align: center; color: #065348;}
.main .main__section.s02 .main__video{width: 960px; height: 540px; display: flex; justify-content: center; align-items: center; margin: 0 auto; margin-top: 20px; background-color: #00594C;}
.main .main__section.s02 iframe{width: 912px; height: 503px;}
.main .main__section.s02 .main__textbox{padding: 26px 56px 40px 56px; margin-top: 10px;}
.main .main__section.s02 .main__textbox p{font-size: 36px; color: #ffffff; font-weight: 300;}
.main .main__section.s02 .main__textbox span{font-size: 24px; color: #ffffff; font-weight: 300;}
.main .main__section.s02 .main__textbox span strong{font-size: 24px; color: #ffffff; font-weight: 400;}
.main .main__section.s02 .main__caption{font-size: 30px; color: #00594C; font-weight: 500;}

.main .main__section.s03 .main__title{padding-top: 113px;}
.main .main__section.s03 .main__textbox.box__gray{padding: 20px 200px 20px 75px; position:relative;}
.main .main__section.s03 .main__textbox .textbox__title{font-size: 25px; padding-bottom: 13px; color: #666666; font-weight: 500;}
.main .main__section.s03 .main__textbox .textbox__subject{font-size: 25px; color: #333333; font-weight: 300;}
.main .main__section.s03 .main__textbox .textbox__line{display: inline-block; width: 100%; height: 2px; background-color: #999999; opacity: 0.32;}
.main .main__section.s03 .main__textbox .textbox__info{font-size: 25px; color: #333333; padding-top: 50px;}
.main .main__section.s03 .main__textbox img{width: 350px; height: 290px; position: absolute; bottom: 0; right: 0;}
.main .main__section.s03 .main__textbox.box__green{height: 71px; line-height: 71px; text-align: center; font-size: 30px; color: #ffffff; font-weight: 500;}
.main .main__section.s03 .main__form{display: flex; justify-content: space-between; align-items: flex-start; margin-top: 12px;}
.main .main__section.s03 .main__form img{width: 270px; height: 298px;}
.main .main__section.s03 .main__form .form__right{flex:1; padding-left: 34px; display: flex; flex-direction: column;}
.main .main__section.s03 .main__form .form__right .right__item{display: flex; justify-content: center; align-content: center;}
.main .main__section.s03 .main__form .form__right .right__item + .right__item{margin-top: 14px;}
.main .main__section.s03 .main__form .form__right .right__item .item__left{display: inline-flex; width: 90px;margin-right: 20px; height: 59px; align-items: center;}
.main .main__section.s03 .main__form .form__right .right__item .item__right{flex: 1; display: flex;}
.main .main__section.s03 .main__form .form__right .right__item .item__right input[type=text],
.main .main__section.s03 .main__form .form__right .right__item .item__right input[type=tel]{ height: 59px; line-height: 59px; border: 1px solid #464646;}
.main .main__section.s03 .main__form .form__right .right__item .item__right input[type=text]{width: 100%;}
.main .main__section.s03 .main__form .form__right .right__item .item__right input[type=tel]:nth-child(1){width: 246px;}
.main .main__section.s03 .main__form .form__right .right__item .item__right input[type=tel]:nth-child(2){flex: 1;}
.main .main__section.s03 .main__form .form__right .right__item .item__right input[type=tel] + input{margin-left: 16px;}
.main .main__section.s03 .main__form .form__right .right__item.item__agree{margin-top: 7px;}
.main .main__section.s03 .main__form .form__right .right__item .item__right.agree__right{display: flex; justify-content: space-between; background-color: #DCDCD4; padding: 6px 24px 11px 21px;}
.main .main__section.s03 .main__form .form__right .right__item .item__right.agree__right .agree__text p{font-size: 25px; color: #065348;}
.main .main__section.s03 .main__form .form__right .right__item .item__right.agree__right .agree__label{display: flex; align-items: center; line-height: 72px;}
.main .main__section.s03 .main__form .form__right .right__item .item__right.agree__right .agree__label span{font-size: 25px; color: #065348; margin-right: 11px;}
.main .main__section.s03 .main__form .form__right .right__item .item__right.agree__right .agree__label input{width: 26px; height: 26px;}
.main .main__section.s03 .main__form .form__right .right__item .item__right .right__btn{width: 100%; height: 59px; line-height: 59px; font-size: 25px; background-color: #FF6B0D; font-weight: 500; cursor: pointer; color: #ffffff; text-align: center;} 
.main .main__section.s03 .main__form .form__right .right__item.item__btn{margin-top: 6px;}

@media all and (max-width: 768px){
}